SIGANUSMORPH_LOW_RESOURCE_MODE=0
SIGANUSMORPH_RUNTIME_THREADS=8
OMP_NUM_THREADS=8
MKL_NUM_THREADS=8
OPENBLAS_NUM_THREADS=8
NUMEXPR_NUM_THREADS=8
OPENCV_FOR_THREADS_NUM=8
MALLOC_ARENA_MAX=4
SIGANUS_REMOTE_WORKER_ID=bio-server-worker-01
SIGANUS_REMOTE_WORKER_CONCURRENCY=1
SIGANUS_REMOTE_API_URL=https://yangzz.online/SiganusMorph-worker-api
SIGANUS_REMOTE_WORKER_TOKEN=replace_with_the_same_cloud_token
